section.guides{
  grid-column: 2 / 12;
  text-align: center;

  h2,p{
    margin: 20px 0;
  }

  .guidesMenu{
    margin: 10px 0;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      li{
        cursor: pointer;
        margin: 10px 0;

        a{
          text-decoration: none;
          color: white;
          font-size: 22px;
        }
        &:hover{
          a{
            color: $diabloRed;
          }
        }
      }
      @media screen and (max-width: 620px){
        flex-direction: column;
      }
    }
  }

  .fhr{
    border-top: 2px solid $diabloRed;
  }

  .reference{
    font-style: italic;
    font-size: 14px;
    color: orange;
  }

  table{
    width: 100%;
    background-color: $backgroundBlack;
    tbody{
      tr{
        th{
          padding: 8px;
          font-weight: bold;
          border: 1px solid $silverHighlight;
          color: $diabloRed;
        }
        td{
          padding: 8px;
          border: 1px solid $silverHighlight;
        }
        td:first-child{
          color: $diabloRed;
        }
      }
    }
  }
}
