h1 Testing

form(method='POST')
  p.item
    input(type='text', name='item', placeholder='Item')
    br
  p.type
    input(type='text', name='type', placeholder='Type')
    br
  p.class
    input(type='text', name='class', placeholder='Class')
    br

    br
    button(input='submit', value='submit') Submit
