mixin nav-content()
  ul
    li.logo
    li: a(href="/") Home
    li: a(href="news") News
    li: a(href="classes") Classes & Skills
    li: a(href="items") Items
    li: a(href="guides") Guides
    li: a(href="leaderboards") Leaderboards
    li: a(href="twitch") Twitch Streams
    li: a(href="about") About Us
    
mixin mobile-nav-content()
  ul
    li: a(href="/") Home
    li: a(href="news") News
    li: a(href="classes") Classes & Skills
    li: a(href="items") Items
    li: a(href="guides") Guides
    li: a(href="leaderboards") Leaderboards
    li: a(href="twitch") Twitch Streams
    li: a(href="about") About Us    

doctype html

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width', initial-scale='1', maximum-scale='1')
  meta(name='description' content='Tristram Reborn is a Diablo II Fan-Site made by Twitch Streamers for the Community. Our Goal is to bing the community together under a fair, legit, and honest place.')
  meta(name='keywords' content='diablo, diablo 2, diablo II, tristram reborn, diablo 2 fan site, diablo twitch streams, diablo 2 items, diablo 2 runes')
  meta(name='copyright' content='Tristram Reborn')
  link(rel='stylesheet', href='../css/main.css')
  title Tristram Reborn | Diablo II Fan Site

  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-107390185-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107390185-1');

  
body
  header
    .logo
    .desktop-nav
      +nav-content 
    
    .mobile-nav
      .logo
      .hamburger
        span
        span
        span
      .mobile-nav-menu  
        +mobile-nav-content  
        
  section.siteCall  
        
    h2 Welcome to Tristram Reborn, the Diablo 2 Fan Site built by Twitch Streamers for the Community
    br
    h4 Our Goal is to bing the community of Diablo 2 together under a fair, legit, and honest place. We encourage community play, trading, and overall "Fun-ness."
    br
    h4 **This site is still under "working" development. Many features and pages are still being worked on so be sure to check back to see progress**
    br
    .totalViewers
    
  .body-wrap      
    block content   
     
  .currentStreamersIcon
    .currentStreamersSidebar
      h4.online Online
      h6 Alara Shade
      .profilePic.alarashade
      hr
      h6 BTNeandertha1
      .profilePic.btneandertha1
      hr
      h6 Diglio
      .profilePic.diglio
      hr
      
      h4.offline Offline
      h6 MrLlamaSC
      .profilePic.mrllama
      hr
      h6 LeakyCougar
      .profilePic.leakycougar
      hr
      h6 Hytyme
      .profilePic.hytyme
        
  footer
    h4 - - - - - - - - - - Tristram Reborn - - - - - - - - - -
    p Copyright @ 2017 - Developed by [Michael Diglio & Cesar Sanchez]
        
        
  script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")      
  script(src='/scripts.js')
